/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

header, nav, main, footer {
  margin: 20px;
}

h1, h2 {
  color: #f31a1a;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  text-align: center;
  color: #ff0000;
}

